body {
	background-image: url('concrete_wall.png');
	font-family: 'Arvo', serif;
	text-transform: uppercase;
}

h1 {
	color: #FFFFFF;
	padding: 20px;
	text-align: center;
	font-size: xx-large;
}

li {
	float: left;
	height: 275px;
	padding: 10px;
	width: 210px;
}

.thumbnail {
	border: 5px solid white;
	height: 200px;
	width: 200px;
}

.name {
	color: #666666;
	display: none;
	font-size: large;
	margin-top: 10px;
	text-align: center;
}

.frame {
	/* Shadow */
	-webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
	-moz-box-shadow:    3px 3px 10px rgba(0, 0, 0, 1);
	box-shadow:         3px 3px 10px rgba(0, 0, 0, 1);
	
	/* Gradient */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #ffffff 0%, #a0a0a0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#a0a0a0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#a0a0a0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #ffffff 0%,#a0a0a0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #ffffff 0%,#a0a0a0 100%); /* IE10+ */
	background: linear-gradient(135deg,  #ffffff 0%,#a0a0a0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a0a0a0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}